<h1>Log In</h1>
<% if (error) { %><p style="color:red"><%= error %></p><% } %>
<form action="/login" method="POST">
  Email: <input type="email" name="email"><br>
  Password: <input type="password" name="password"><br>
  <button type="submit">Log In</button>
</form>
<a href="/login">Try again</a>
<a href="/signup">Don't have an account? Sign up</a>
<a href="/">Back to Home</a>